<!DOCTYPE html>
<html>
  <head>
    <title>TinderClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('tinderfavicon.png') %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application'%>
  </head>

  <body>
    <%= render 'layouts/navbar'  unless account_signed_in? %>
      
    <div class= "container-fluid bg-light">
      <%= yield %>
      <%= render 'layouts/footer' unless account_signed_in? %>
    </div>  
  </body>
</html>
